---
---
@charset "utf-8";

// variables
$theme-primary: #F05F40;
$theme-secondary: #2D7A97;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "nav",
  "header",
  "sections",
  "base";
