<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="steven-img" src="https://avatars1.githubusercontent.com/u/2306786?v=3&s=300">
        <hr class="light">
        <p class="text-faded">I'm a 25 year old dev out of Miami, FL always looking for new problems to solve.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="col-lg-12">
      <h2 class="section-heading text-center">CAREER</h2>
      <hr>
      <h3 class="section-heading">Ultimate Software</h3>
      <ul>
        <li>Developed and tested a series of Java microservices that enabled customers to import sensitive employee data.</li>
        <li>Improved overall system resiliency and scalability by decoupling services via asynchronous messaging.</li>
        <li>Created multiple continuous integration pipelines to build and deploy projects utilizing Docker and Concourse CI.</li>
      </ul>
    </div>
    <div class="col-lg-12">
      <h3 class="section-heading">Citrix</h3>
      <ul>
        <li>Participated in the development of Concierge, a real­time support platform for cus  tomers on the go , as part of Citrix’s mobility initiative.
        </li>
        <li>Deployed eight microservices across 48 Amazon Web Service (AWS) servers that comprise Concierge.</li>
        <li>Wrote microservices in Go for increased performance while increasing stability through unit and system tests.</li>
        <li>Co­wrote an open­sourced Firebase SDK in Go that received recognition by the Firebase team at Google I/O 2016.</li>
        <li>Wrote internal Java SDK for real­time syncing of files, property tables and messages on the Citrix cloud platform.
        </li>
        <li>Architected the SDK with an extensible abstraction layer; moreover, engineered and maintained Android and desktop JRE implementations.
        </li>
        <li>Followed a test­-driven approach to maintain a test suite that consisted of unit, integration and system tests.
        </li>
      </ul>
    </div>
    <div class="col-lg-12">
      <h3 class="section-heading">Rokk3r Labs</h3>
      <ul>
        <li>Developed the Hunter Hayes iOS application and cloud platform that allowed users to browse tour dates, receive discounted merchandise and play trivia.
        </li>
        <li>Worked with an external team of developers to improve their mobile, tablet and T.V. Android applications.</li>
      </ul>
    </div>
  </div>
</section>