<section class="no-padding" id="portfolio">
  <div class="container-fluid no-padding">
    <h2 class="section-heading text-center">Projects</h2>
    <hr>
    <div class="col-lg-6 no-padding">
      <a href="#" class="portfolio-box">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <i class="fa fa-4x fa-fire wow bounceIn"></i>
            <div class="project-name">
              Firego
            </div>
            <div class="project-category text-faded">
              A Golang Firebase SDK
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-6 no-padding">
      <a href="#" class="portfolio-box">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <i class="fa fa-4x fa-fire-extinguisher wow bounceIn"></i>
            <div class="project-name">
              Firetest
            </div>
            <div class="project-category text-faded" >
              A Firebase server to help with unit tests
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-6 no-padding">
      <a href="#" class="portfolio-box">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <i class="fa fa-4x fa-square-o wow bounceIn"></i>
            <div class="project-name">
              Snag
            </div>
            <div class="project-category text-faded">
              Automatic build tool for all your projects
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-6 no-padding">
      <a href="#" class="portfolio-box">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <i class="fa fa-4x a-chevron-right wow bounceIn"></i>
            <div class="project-name">
              Reflector
            </div>
            <div class="project-category text-faded">
              Java Reflection made a little easier
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
